<ion-header>
  <ion-toolbar>
    <ion-title>
      Payments
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-title> Choose the Payment method</ion-title>

  <ion-grid>

    <ion-row>
      <ion-col>
             <ion-card>
               <img src="assets/icon/tigo.jpg" alt="">
               <ion-card-content>Tigo Pesa</ion-card-content>
             </ion-card>
      </ion-col>
      <ion-col>
          <ion-card>
              <img src="assets/icon/voda.png" alt="">
              <ion-card-content>M-Pesa</ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row> 

    <ion-row>
        <ion-col>
            <ion-card>
                <img src="assets/icon/airtel.png" alt="">
                <ion-card-content>Airtel Money</ion-card-content>
              </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
                <img src="assets/icon/halotel.png" alt="">
                <ion-card-content>Halopesa</ion-card-content>
              </ion-card>

          </ion-col>
      </ion-row> 

      <ion-row>
          <ion-col>
              <ion-card>
                  <img src="assets/icon/ttcl.jpg" alt="">
                  <ion-card-content>T-Pesa</ion-card-content>
                </ion-card>
          </ion-col>
          <ion-col>
              <ion-card>
                  <img src="assets/icon/zantel.png" alt="">
                  <ion-card-content>Ezy Pesa</ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row> 

  </ion-grid>
</ion-content>
