<ion-header>

</ion-header>

<!-- Login Page -->

<ion-content padding class="background">

  <form style="margin-left: 50px; margin-right: 50px; display: block; margin-top: 350px;">
    <ion-item color="secondary-tint" ><b>
        <ion-input type="text" placeholder="Username"></ion-input>
      </b>
  </ion-item>

  <ion-item color="secondary-tint" ><b>
        <ion-input type="password" placeholder="Password" ></ion-input>
    </b>
  </ion-item>
<div style="padding-top: 13px" text-center>
  <ion-button  color="success" routerLink="/courses" routerDirection="forward">
      Login
    </ion-button>
  </div>
</form>

<div style="padding-top: 15px" text-center>
    Forgot Password ? 
    <ion-col routerLink="/signup" routerDirection="forward"
        style="color:blue">
          Reset
    </ion-col>
    </div>


</ion-content>
